@font-face {
  font-family: "Switzer-title";
  src: url("font/Switzer-Medium.otf") format("truetype");
}

@font-face {
  font-family: "Switzer";
  src: url(font/Switzer-Extralight.otf) format("opentype");
}

@font-face {
  font-family: "nav";
  src: url(font/CoffeeJellyUmai-4BmgD.ttf) format("opentype");
}

*{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background-color: #2F3143;
  font-family: "Switzer", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

header {
  padding: 20px;
  width: 100%;
  position: fixed;
  z-index: 3;
  font-family: "nav", sans-serif;
  box-shadow: rgba(28, 28, 29, 0.636) 0px 10px 10px -10px;
  line-height: normal;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.logo {
  font-size: 40px;
  color: rgb(218, 224, 228);
  right: 0px;
  margin-right: auto;
  margin-left: 0px;
  background: none;
}

.menu {
  margin-right: 30px;
}

a{
  text-decoration: none;
}

.items-menu{
  color: rgb(190, 203, 210);
  margin: 10px;
  font-size: 20px;
  background: linear-gradient(#ffffff, #ffffff) left no-repeat, #636eea;
  background-size: 0% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-in-out;
}

.items-menu:hover {
  background-size: 100% 100%;
}

#accueil{
  opacity: 1;
}

#bot-meteo{
  opacity: 0;
}

#bot-choix{
  opacity: 0;
}

.botMeteo-content{
  height: 100vh;
  position: fixed;
  background: none;
  z-index: 2;
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
  scroll-behavior: smooth;
}

p{
  text-align: left;
  margin-bottom: 40px;
  font-size: 18px;
}

h1{
  font-size: 80px;
  color :#636eea;
  margin-bottom: 0;
  font-family: "Switzer-title", sans-serif;
}

@media only screen and (max-width: 800px) {
  .botMeteo-content{
    text-align: center;
    margin: auto;
  }
  p{
    text-align: center;
    margin: auto;
    font-size: 14px;
  }

  h1{
    font-size: 50px;
  }

  .botMeteo{
    width: 100%;
  }

  body > canvas {
    display: none !important;
  }

  .logo {
    font-size: 20px;
  }

  .items-menu{
    font-size: 18px;
  }
}

p{
  max-width: 550px;
  margin-bottom: 40px;
}

ul{
  list-style: none;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #636eea;
}

.btn{
  color: #ffffff;
  border: #6e629d 3px solid;
  background-color: #897ac0;
  padding-top: 10px;
  padding: 10px;
  border-radius: 10px;
  letter-spacing: 2%;
  box-shadow: 0px 5px 0px #4f406c;
}

.btn:hover{
  border: #9281d4 3px solid;
  background-color: #7c6eae;
  color: #dedcdc;
}

.btn:active{
  border: #9281d4 2px solid;
  box-shadow: 0px 5px 0px #4f406c;
}

#bot-contact{
  opacity: 0;
}